<div class="container">
  <h1>GUID Generator</h1>
  <form>
    <label for="uuid">UUID :</label>
    <input type="text" id="uuid" [value]="generatedUUID" readonly>&nbsp;&nbsp;&nbsp;
    <i class="fa-solid fa-copy"></i>
    <img src="assets/copy-link-icon.svg" (click)="clipBoardCopy()" >
    <div  class="copy-message">  <span *ngIf="showCopiedMessage"  class="copied-message">Copied!</span>
    </div>
  </form>
  


    <div class="inputbutton">
    <button type="button" (click)="regenerateUUID()">Regenerate UUID</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>
</div>
