html, body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    background-color: #ffffff; /* Optional: for better visualization */
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 7%;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    width:38%;
    height: 70%;
    margin-left:5px;
    padding-left: 5px;
  }
  
  button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  h1{
    margin-bottom: 5px;
    color: rgb(248, 66, 66);
  }

  img{
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .copied-message {
    color: green;
    font-weight: bold;
  }
  .copy-message{
    width:40px;
    margin-left: 10px;
  }
  .inputbutton{
    align-items: center;
  }